/* OVERRIDES ========================= */

.row [class*="span"]:first-child {
  margin-left: 0;
}

#loading_overlay .loading_message {
	height: 60px;
	width: 300px;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -150px;
	text-align: left;
}
#loading_overlay .loading_message p {
	height: 50px;
	margin-top:10px;
	margin-left: 60px;
	line-height: 18px;
}

header {
	margin-bottom: 30px;
}

header > div h1 {
	text-align: center;
	margin: 10px 0;
}


header > div h1 span{
	display: inline-block;
	background: url(../img/lemon_bg.png) no-repeat;
	width: 157px;
	height: 113px;
	text-indent: -9999px;
}
header > div h1 span:last-child{
	background: url(../img/logo_bg.png) no-repeat 0 50%;
	width: 134px;
	height: 113px;
}

.form-horizontal .control-label {
	width: 60px;
}

.form-horizontal .controls {
	margin-left: 80px;
}

.starter {
	padding: 20px 0;
}

.member-login {
	border-right: 1px solid #999;
	margin-left: -1px;	
}