body{
	font-family: "Helvetica Neue", "Helvetica" , "Arial" , "Sans Serif", Georgia, Serif;
	background: url(../img/header_bg.png) repeat-x 0 45px #fcf9f2;
	font-size: 14px;
	overflow:hidden;
}

/* OVERRIDES ========================= */
.row-fluid {
	min-width: 1024px;
}

.row [class*="span"]:first-child {
  margin-left: 0;
}

#loading_overlay .loading_message {
	height: 60px;
	width: 300px;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -150px;
	text-align: left;
}
#loading_overlay .loading_message p {
	height: 50px;
	margin-top:10px;
	margin-left: 60px;
	line-height: 18px;
}


#wrapper { /* to avoid scrolling sideways - temp */
	display: block;
	min-width: 1024px;
	min-height: 748px;
	overflow: hidden;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.modal, .modal-footer {
	background: #fefcf7;
}
.modal-footer {
	border-top: 0;
	box-shadow: none;
}
/* HEADER ========================= */

header { 
	position: fixed;
	top: 0;
	z-index: 100;
	background: #fefcf7; color: #333;
	height: 45px;
}
header a { 
	color: #333;  }
header a.btn-back { float: left; }
header .page-title { 
	line-height: 45px;	font-size: 18px;
	margin:0; 
	padding:0;
	text-align: center;
	z-index:-1;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
header .nav {
	margin: 0;
}
header .pull-left,
header .pull-right {
	padding: 5px;
}

.breadcrumb {
	position: fixed;
	top: 45px;
	z-index: 30;
	width: 100%;
	background: url(../img/footer_bg.png) repeat;
	margin-bottom: 15px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	height: 20px;
}
.breadcrumb a {
	color: #333;
}

.search-query{
	padding: 0; position: relative;	margin: 0;
}
.search-query input{
	height: 30px; width: 120px; border: 1px solid #999; border-right: 0; color: #777; background: #f8efde; margin-right: 10px; text-indent: 4px;
}
.search-query > a{
	border: 1px solid #999; border-left: 0; height: 32px; display: inline-block; background: #f8efde; position: absolute; right: 4px; top: 0;
}
.search-query > a i{
	background: url(../img/search_bg.png) no-repeat; display: inline-block; text-indent: -9999px; height: 14px; width:
14px; margin-top: 10px; margin-right: 5px; }

/* LOGIN, PROFILE ================= */
.rfid-login form {
	margin-top: 40px;
}

/* CONTAINER ================= */
#content {
	position: absolute;
	padding:5px;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
}

/* PRODUCTS ======================= */
#products {
	display: block;
	position: absolute;
	top: 20px;
	right: 150px;
	bottom:0;
	left:0;
	overflow: hidden;
}

#prod_container {
	position: absolute;
	top:0;
	bottom:0;
	left: 200px;
	right: 10px;
	z-index: 10;
	display:none;
}

#prod_dashboard {
	position: absolute;
	top:0;
	bottom:0;
	right: 10px;
	left: 0;
	z-index: 20;
	display:none;
}

.prod-categories 
, .prod-listing
, .prod-info { 
	display: block;
	position: absolute;
	top:0;
	bottom:0;	
}

/* Product Dashboard -------------- */
.prod-featured ul
,.prod-catlist ul {
	list-style-type: none;
	margin: 0 0 0 15px;
	overflow: hidden;
}

/* featured ....................... */
.prod-featured ul li {
	display: block;
	width: 280px;
	height: 112px;
	background: #fefcf7;
	float: left;
}
.prod-featured ul li .package-image {
	line-height: 110px;
	text-align: left;
}
.prod-featured ul li img {
/*	min-width: 280px;*/
}

.prod-featured ul li a {
	display: block;
	background: #fefcf7;
	position: relative;
	width: 280px;
	height: 112px;
}

.prod-featured ul li a .package-price {
	position: absolute;
	top: 15px;
	right: 15px;
}
.prod-featured ul li a .package-info {
	display: block;
	width: 100%;
	background: url(../img/bg_trans_black.png);
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
}
.prod-featured ul li a .package-info p {
	line-height: 1;
	margin: 5px 10px;
}
.prod-featured ul li a .package-info p.package-meta {
	font-size: 12px;
}

.prod-featured ul li:first-child
, .prod-featured ul li:first-child a {
	width: 560px;
	height:	224px;
}
.prod-featured ul li:first-child img {
	min-width: 560px;
}
.prod-featured ul li:first-child .package-price {
	font-size: 18px;
	padding: 8px 12px;
}
.prod-featured ul li:first-child .package-title {
	font-size: 20px;
} 
.prod-featured ul li:first-child .package-info .package-meta {
	font-size: 14px;
}

/* packages ....................... */
.prod-catlist h3 { 
	font-size: 18px;
	line-height: 20px;
	margin: 20px 0 5px 15px }

.prod-catlist ul li {
	display: block;
	width: 420px;
	height: 50px;
	overflow: hidden;
	float: left;
	background: #fff;
}
/*.prod-catlist ul li:nth-child(even) {
	background-color: #dedede;
}*/
.prod-catlist ul li a {
	display: block;
	position: relative;
	color: #333;
}
.prod-catlist ul li a .prod-image {
	line-height: 50px;
}
.prod-catlist ul li a .prod-image img {
	float: right;
	margin-top: -10%;
	min-height: 50px;
}
.prod-catlist ul li a img {
	min-height: 50px;
}
.prod-catlist ul li a strong {
	line-height: 50px;
	position: absolute;
	top: 0;
	left: 15px;
}

/* Product Categories ------------- */
.prod-categories {
	width: 160px;
	left: 20px;
}
.prod-categories .nav-tabs a {
	color: #333;
} 
.nav-tabs > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}
.nav-tabs.nav-stacked > li > a {
	border: 0;
	border-top: 1px solid #d2dbce;
	padding: 15px 12px;
	font-size: 13px;

}
.nav-tabs.nav-stacked > li > a:hover {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #d2dbce;
}

.nav-tabs.nav-stacked > li.active > a {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #fefcf7;	
}

.nav-tabs.nav-stacked > li:first-child > a {
	border: 0;
}
.prod-categories .nav-tabs .open .dropdown-toggle {
	background: #fefcf7;
	-webkit-border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;
	border-color: #ddd;
	border-right-color: #fff;
	color: #333;
}

.prod-categories .dropdown-menu {
	top: -6%;
	left: 159px;
	width: 680px;
	padding: 15px 0;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
	background-color: #fefcf7;
	border: 0;
}
.prod-categories .dropdown-menu li {
	float: left;
	border-right: 1px solid #eee;
	margin-left: -1px;
}
.prod-categories .dropdown-menu li a {
	height: 60px;
	width: 130px;
	white-space: normal;
	line-height: 20px;
}

/* Product Listing ---------------- */
.prod-listing {
	width: 660px;
	left: 200px;
	z-index: 10;
}

.prod-related {
	width: 660px;
	clear: both;
	padding-top: 15px;
}	
.prod-listing ul
, .prod-related ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.prod-listing ul li
, .prod-related ul li {
	background: #fff;
	display: block; width: 33%; float: left;
	height: 280px;
	position: relative;
	border: 1px solid #ccc;
	margin: 0 0 -1px -1px;
	word-wrap: break-word;
	z-index: 20;
}
.prod-listing ul li a 
, .prod-related ul li a { 
	display: block;
	padding: 9px; 
	color: #333;
	}
.prod-listing ul li a:hover
, .prod-related ul li a:hover {
	text-decoration: none;
	color: #336633;
}

.prod-listing ul li button
, .prod-related ul li button {
	position: absolute;
	bottom: 9px; left: 9px;
}
.prod-listing ul li h2
, .prod-related ul li h4 { 
	font-size: 14px; line-height: 1.2;
	height: 40px; }
	
.prod-listing ul li p
, .prod-related ul li p {
	margin: 0 0 5px 0;
	line-height: 14px;
}
.prod-listing ul li p.product-line
, .prod-related ul li p.product-line {
	font-size: 12px;
}

.prod-listing .product-thumb
, .prod-related .product-thumb {
	display: block;
	width: 200px;
	height: 130px;
	background: #dedede;
	text-align: center;
	line-height: 130px;
	overflow: hidden;
}
.prod-listing .product-thumb img
, .prod-related .product-thumb img {
}

.prod-scroll { 
	position: absolute;
	z-index: 30;
	bottom: -10px;
	left: 415px;
	padding: 5px 10px;
	background: url(../img/bg_trans_black.png);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
 }

.prod-scroll button{
	width: 100px;
}


/* Product Info ------------------- */
.prod-info {
	width: 660px;
	left: 200px;
	z-indez: 10;
} 
.prod-info .product-image {
	display: block;
	width: 300px;
	height: 240px;
	background: #dedede;
	text-align: center;
	line-height: 240px;
	overflow: hidden;	
	float: left;
	margin: 0;
}
.prod-info .info {
	display: block;
	margin-left: 315px;
}
.prod-info .info h2 { 
	font-size: 18px;
	margin: 0 0 15px 0;
	padding: 0;
	line-height: 1.2;
}
.prod-info .info p {
	font-size: 12px;
}

.prod-info .info .product-price p {
	width: 165px;
	float: left;
	font-weight: bold;
	font-size: 18px;
	margin: 30px 0 15px 0;
}
.prod-info .info .product-price p span{
	display: block;
	font-weight: normal; 
	font-size: 12px;
}

.prod-info h3 {
	font-size: 14px;
	line-height: 1;
	margin: 0 0 15px 0;
	
}

/* ORDERS =========================== */
#orders {
	background-color: #dedede;
	position: absolute;
	z-index: 40;
	top: -40px;
	right: 0;
	bottom: 0;
	left: 100%;
	margin-left: -140px;
}

#orders.narrow {
	width: 140px;
}

#orders.wide {
	width: 1164px;
}

.orders-tab .print-trans { text-align: left; }
.orders-tab .print-trans i { float: left; margin: 10px 10px 15px 0; }

.pull-tab { 
	position: absolute;
	padding: 20px 10px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.pull-tab.out {
	top: 50%;
	margin-top: -31px;
	margin-left: -31px;
}
.pull-tab.in {
	top: 50%;
	margin-top: -31px;
	margin-left: -5px;
	z-index: 45;
}

/* Orders Quick View -------------- */
.orders-tab {
	display: block; 
	width: 140px;
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	z-index: 40;
	background-color: #eaeaea;
	min-height: 702px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.orders-tab h3 { 
	margin: 0;
	padding: 10px;
	font-size: 20px;
	line-height: 20px;
}
.orders-list ul {
	list-style-type: none;
	margin: 10px 10px 40px 10px; padding: 0;
	display: block;
	height: 450px;
	position:relative;
}
.orders-list ul li {
	display: block;
	padding: 9px 0;	
	border-bottom: 1px solid #999;
	font-size: 12px;
	line-height: 1;
}
.orders-list ul li strong {
	display: block;
}
.orders-scroll.btn-group {
	margin: 0 10px 10px 10px;
}
.orders-scroll button {
	width: 60px;
}
.order-total {
	display: block;
	font-size: 12px;
	line-height: 1.2;
	padding: 10px;
	border: 1px solid #999;
	margin: 0 10px 9px 10px;
}
.order-total strong {
	display: block;
}
.order-total strong:after {
	content: ":";
}

.orders-tab .print-trans {
	font-size: 12px;
	margin: 0 10px;
}

/* Orders - Full ------------------ */
.orders-full { 
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right:0;
	display: block;
	min-width: 1024px;
	background: #dedede;
	z-index: 38;
	overflow: hidden;
	
}
.orders-full-list {
	margin: 20px 40px;
}
.orders-full-list .table th {
	background: #fefcf7;
	font-weight: normal;
	font-size: 18px;
}
.orders-full-list .table th, .orders-full-list .table td {
	border-top: 1px solid #bbb;
}
.orders-full-list .table th.qty {
	width: 155px;
	text-align: center;
}
.orders-full-list .table th.price {
	width: 120px;
	text-align: center;
}

.orders-full-list .table td {
	font-size: 13px;
}
.orders-full-list .table td.decimal {
	text-align: right;
}
.orders-full-list .table td input[type="text"] {
	text-align: center;
}


.orders-actions {
	clear: both;
	padding: 10px 40px;
	background: url(../img/bg_trans_black.png);
	overflow: hidden;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.orders-actions .orders-total {
	margin-right: 146px;
	margin-bottom: 0;
	text-align: right;
	line-height: 45px;
	font-weight: bold;
	font-size: 22px;
	color: #fff;
}
.orders-actions .orders-total span {
	font-weight: normal;
	font-size: 14px;
}

.orders-full-scroll { 
	margin: 0 0 0 100px;
}

.orders-full-scroll button{
	width: 100px;
}

/* Ordering - Variants ------------ */
.modal.prod-variants {
	width: 980px;
	margin: 0;
	left: 20px;
	top: 30px;
}
.modal.fade.in.prod-variants {
	top: 30px;
}
.prod-variants .modal-body {
	max-height: 550px;
}

.prod-variants .media {
	width: 40%;
	margin-top: 0;
}
.prod-variants .media h4 {
	height: 60px;
}
.prod-variants .media p {
	font-size: 12px;
}

.prod-variants .alert {
	width: 45%;
}

.package-options {
	clear: both;
	border: 1px solid #ccc;
	overflow: hidden;
	padding: 10px;
}

.package-options .groups
, .package-options .products
, .package-options .selected {
	display: block;
	width: 295px;
	height: 380px;
	float: left;
	position: relative;
	border: 1px solid #ccc;
	overflow: hidden;
}
.package-options .products {
	margin: 0 10px;
}
.package-options .heading {
	background: #fff;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.package-options .heading h5 {
	margin: 0;
}
.package-options .heading .muted {
	font-size: 12px;
}

.package-options ol {
	list-style-type: none;
	margin: 0 10px;
	padding: 0;
}

.package-options ol li a {
	display: block;
} 
.package-options ol li a:hover {
	text-decoration: none;
}

.package-options .groups ol li a
, .package-options .products ol li a {
	border-bottom: 1px solid #eee;
	padding: 15px 10px;
	font-size: 12px;
	color: #333;
}
.package-options .groups ol li.active a
, .package-options .products ol li.active a:hover
,.package-options .groups ol li a:hover
, .package-options .products ol li a:hover {
	background: #739A5B;
	color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.package-options .groups ol li.active a .muted
, .package-options .products ol li.active a:hover .muted
,.package-options .groups ol li a:hover .muted
, .package-options .products ol li a:hover .muted {
	color: #fff;
}

.package-options .selected .selected-list {
	font-size: 12px;
	margin: 15px 10px;
}
.package-options .selected .selected-list li{
	line-height: 1;
}
.package-options .selected .selected-list li .muted {
	font-size: 11px;
}
.package-options .selected ol li {
	margin-bottom: 3px;
}
.package-options .selected ol li a {
	padding: 15px 10px;
	font-size: 12px;
	color: #333;
	background: #dedede;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.package-options .options-scroll {
	position: absolute;
	bottom: -8px;
	left: 35%;
}

/* SEARCH RESULTS ================= */
#search-results {
	display: block;
	position: absolute;
	top: 20px;
	width: 880px;
	height: 650px;
	overflow: hidden;
}
#search-results h2{
	margin: 0 0 10px 20px;
	line-height: 20px;
	font-size: 18px;
}
.search-prod-listing {
	position: absolute;
	width: 830px;
	left: 20px;
	z-index: 10;
}

.search-prod-listing ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.search-prod-listing ul li {
	background: #fff;
	display: block; width: 205px; float: left;
	height: 265px;
	position: relative;
	border: 1px solid #ccc;
	margin: 0 0 -1px -1px;
	word-wrap: break-word;
	z-index: 20;
}
.search-prod-listing ul li a { 
	display: block;
	padding: 10px; 
	color: #333;
	}
.search-prod-listing ul li a:hover {
	text-decoration: none;
	color: #336633;
}

.search-prod-listing ul li button {
	position: absolute;
	bottom: 9px; left: 9px;
}
.search-prod-listing ul li h3 { 
	font-size: 14px; 
	line-height: 1.2;
	height: 40px; }
	
.search-prod-listing ul li p {
	margin: 0 0 5px 0;
	line-height: 14px;
}
.search-prod-listing ul li p.product-line
, .search-prod-listing ul li p.product-price {
	font-size: 12px;
}
.search-prod-listing ul li p.product-line {
	font-style: italic;
}

.search-prod-listing .product-thumb {
	display: block;
	width: 185px;
	height: 120px;
	background: #dedede;
	text-align: center;
	line-height: 130px;
	overflow: hidden;
}

#search-results .prod-scroll { 
	left: 322px;
}

.dropdown-menu.search-drop {
	left: -400px;
}