@page { margin: 0.5cm; }
@page :left { margin: 0.5cm; }  
@page :right { margin: 0.8cm; }

body { background-color:#FFFFFF; background-image:none; color:#000000; width: 100%; }

#btn-print {display: none;}

.container { width: 27cm; }

.discount-summary, .payment-summary { border: solid 1px #CCC; }

.transaction-review-box .header-section .left-section {
	width: 10cm;
}

.transaction-review-box .header-section .right-section {
	width: 10cm;
}