
/* WebPOI Styles override for site use */

/* product browse */

.product-grid {
	height: 400px;
	overflow: hidden;
	position: relative;
}

.vouchers-product-grid.product-grid {
	height: 280px;
}

.product-grid .span3 {
	width: 175px;
}

.product-box-item-list {
	overflow: hidden;
	display: block;
	position: relative;
}

.product-box-item-list img.product-box-img {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	z-index: -10;
}

.product-box {
	height: 150px;
	position: relative;
	overflow: hidden;
}
.product-box-container {
	position: absolute;
	display: block;
	background: url('/assets/img/bg-gray-trans-75.png');
	padding: 5px;
	top:5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	color: #efefef;
	overflow:hidden;
}
.product-box-container:hover {
	color: #8F8;
}
.product-box-container .product-box-name {
	display: block;
	text-align: center;
	margin-top: 5px;
	padding: 5px;
	line-height: 16px;
	font-size: 14px;
}

.product-box-container .product-box-extra {
	position: absolute;
	display: block;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 5px;
	padding: 5px;
	line-height: 16px;
	color: #eee;
}

.product-box-grids {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	overflow-y: scroll;
}

.product-variant-box {
	height: 400px;
	position: relative;
}
.product-variant-box .header-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;	
}

.product-variant-box .content-box {
	position: absolute;
	top: 115px;
	left: 0;
	right: 0;
	bottom: 5px;	
	border: solid 1px #dfdfdf;
}

.product-variant-box .header-box .product-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	overflow: hidden;
	border:solid 1px #CCC;
}

.product-variant-box .header-box .product-details {
	position: absolute;
	top: 0;
	left: 110px;
	right: 0;
	height: 110px;
	overflow: hidden;
}

.product-variant-box .header-box .product-details .product-name {
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
}

.product-variant-box .header-box .product-details .product-detail {
	display: block;
	font-size: 14px;
	line-height: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.product-variant-box .header-box .product-details .product-detail small {
	font-weight: bold;
}

.product-variant-box .content-box .product-selection-box {
	position: absolute;
	top: 5px;
	left: 6px;
	bottom: 5px;
	width: 275px;
	border: 1px solid #ccc;
}

.product-variant-box .content-box .product-selection-box.box1 {
	
}

.product-variant-box .content-box .product-selection-box.box2 {
	left: 290px;
}

.product-variant-box .content-box .product-selection-box.box3 {
	left: 574px;
}

.product-selection-box .selection-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	background-color: #dfdfdf;
	border-bottom: solid 1px #CCC;
	font-size: 16px;
	line-height: 18px;
	padding: 10px;
}
.product-selection-box .selection-header small {
	display: block;
	font-size: 12px;
	color: #777;
}


.product-selection-box .selection-item-container {
	position: absolute;
	top: 52px;
	left: 0;
	right: 0;
	bottom:0;
	overflow: hidden;
	overflow-y: scroll;
	background-color: #fff;
	padding: 5px;
}

.product-selection-box .selection-item-container .selection-item-list {
	margin: 0;
}

.selection-item-list .selected-gray {
	background-color: #dedede;
}

.numpad-box {
	position: relative;
	height: 320px;
}

.numpad-box .numpad-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 65px;
}

.numpad-header .numpad-value {
	margin: 5px;
	display: block;
	line-height: 25px;
	border: solid 1px #CCC;
	height: 25px;
	font-size: 20px;
	text-align: right;
	padding: 5px;
	font-family: verdana;
	color: #666;
}

.numpad-box .numpad-content {
	position: absolute;
	top: 75px;
	left: 0;
	right: 0;
	bottom: 5px;
	padding : 5px;
	margin: 0px 0px 0px 25px;
}

.numpad-content .numpad-item-box {
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	font-family: verdana;
}
.numpad-content .numpad-item-box:hover {
	text-decoration: none;
	background-color: #CFC;
}

.numpad-content .numpad-keybox {
	width: 50px;
	margin: 0 0 10px 10px;
}
.numpad-keybox.wide {
	width : 110px;
}

.numpad-header .numpad-status {
	padding-left: 5px;
	color: #D14;
	font-size: 10px;
}
.numpad-header .numpad-status small {
	color: #D1a;
}

.table_scroll_container table thead { display:block; }
.table_scroll_container table tbody { max-height: 148px; overflow-y:scroll; display:block; }
.table_scroll_container table tbody::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.table_scroll_container table tbody::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}